* {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upBtn {
    line-height: 30px;
}

.layui-form {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}