* {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upBtn {
    float: right;
    text-align: center;
    line-height: 30px;
}